@font-face {
  font-family: 'Slick';
  src: url('/node_modules/slick-carousel/slick/fonts/slick.woff') format('woff');
  font-display: swap;
}
@import "tailwindcss";
@theme {
  --font-poppins: Poppins, sans-serif;
}
@import '@fontsource/poppins'; 
@import '@fontsource/poppins/300.css';  /* Light */
@import '@fontsource/poppins/400.css';  /* Regular */
@import '@fontsource/poppins/700.css';  /* Bold */




.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #00DBA1; 
  border-radius: 20px;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}


.custom-headline p:first-child {
  @apply text-white text-sm font-medium ;
}

.custom-headline p:last-child {
  @apply text-white text-lg mt-0;
}


.custom-dots .slick-dots {
bottom: -30px;
}

.custom-dots .slick-dots li button:before {
content: '';
display: block;
width: 30px;
height: 2px;
background-color: white; /* default line - gray-300 */
transition: background-color 0.3s;
}

.custom-dots .slick-dots li.slick-active button:before {
background-color: #00DBA1;
}



.triangle-clip {
position: relative;
z-index: 1;
overflow: hidden;
background-color: white;
clip-path: polygon(0 0%, 80% 0, 100% 20%, 100% 100%, 0 100%);
}



.slide-card {
  transition: transform 0.3s ease;
  position: relative;
  z-index: 1;
}


/* prohibit HAbit */

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(10px); }
    100% { opacity: 1; transform: translateY(0); }
  }
  @keyframes slideIn {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
  }
  .animate-slideIn {
    animation: slideIn 0.7s ease-in-out forwards;
  }


  
  .animate-fadeIn {
    animation: fadeIn 0.5s ease-in-out forwards;
  }




  @import "tailwindcss";
@theme {
  --breakpoint-xs: 100px;
  --breakpoint-2xl: 300px;
  --breakpoint-3xl: 780px;
}



 @keyframes fadeIn {
    0% { opacity: 0; transform: translateY(10px); }
    100% { opacity: 1; transform: translateY(0); }
  }
  .animate-fadeIn {
    animation: fadeIn 0.5s ease-in-out forwards;
  }